  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page_title}}{{title_separator}}{{site_name}}</title>
  <meta name="description" content="{{meta_description}}">
  {{seo_meta_tags}}
  {{hreflang_tags}}
  <link rel="sitemap" type="application/xml" href="{{sitemap_url}}">
  <link rel="stylesheet" href="{{base_path}}css/style.css">
  {{google_fonts_html}}
  {{blocks_css_link}}
  {{plugin_css_link}}
  {{plugin_head_html}}
  {{custom_css}}
  {{head_scripts}}
